Options -MultiViews

RewriteEngine On

Options -Indexes


RewriteBase /meriel/

RewriteRule ^css/(.*) public/css/$1 [L]
RewriteRule ^js/(.*) public/js/$1 [L]
RewriteRule ^img/(.*) public/img/$1 [L]

# General rewrite rules
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
