<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="{{ url('js') }}/app.js"></script>
        <link href="{{ url('css') }}/app.css" rel="stylesheet">
        <script>
            $(function(){
                
                $.post('json',{}, function(response){
                    console.log(response);
                });
                
            });
        </script>
    </head>
    <body>
        <section id="intro" class="intro-section">

            <h1>MERIEL</h1>
            <h4>a knowable php framework</h4>
            
            {% include 'menu.twig' %}
            
            <h1>USERS</h1>
            <ul>
            {% for user in users %}
                <li>{{ user.name }}</li>
            {% endfor %}
            </ul>
            
        </section>
    </body>
</html>